.titulo{

  text-align: center;
  margin-top: 0;
  color: white;
  font-weight: bold;
  letter-spacing: 3.5px;
  line-height: 10px;

  h1{

    font-weight: bold;
    font-size: 40px;

  }

  h2{

    font-weight: 500;
    font-size: 20px;


  }


}
