.carregando{

  .acerto{

    text-align: center;

    .vidas{

      img{

        width: 30%;
        height: 30%;

      }

    }

    p{

      margin-top: 30px;
      margin-bottom: 0;
      color: white;
      font-size: 12vw;
      text-transform: uppercase;
      letter-spacing: 3px;

    }

  }

}
