.input-container{

  width: 50%;
  margin: auto;
  max-width: 600px;
  min-width: 300px;

  input {

    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 15px;
    outline: none;
    font-weight: 700;
    width: 100%;


    &.input-valido{
      border-bottom-color: var(--color-success);
    }

    &.input-invalido, &.input-invalido-formulario{

      border-bottom-color: var(--color-danger);
      margin-bottom: 0;

    }

    &.input-invalido-formulario{

      animation: shake 0.2s ease-in-out 0s 2;

    }

  }

  span{

    text-align: left;
    display: block;
    color: var(--color-danger);
    font-size: 17px;
    font-weight: bold;

  }

  ::placeholder {

    color: white;

  }

}


@keyframes shake {
  0% { margin-left: 0; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0; }
}
