.questoes {

  .row-header{

    p:first-child {
      margin-top: 32px;
    }

  }

  .row-pergunta {

    text-align: left;
    background-color: white;
    border-radius: 15px;
    height: 20vh;
    max-width: 600px;

    p {

      font-weight: bold;
      padding: 0 10px;
      color: var(--color-secondary);

    }

  }

  .row-tempo {

    max-width: 600px;
    border-radius: 5px;

    span {

      text-align: right;
      width: 100%;
      margin-right: 7px;
      font-size: 20px;
      font-weight: bold;

      svg {
        padding-left: 5px;
      }

    }

  }

  .row-alternativas {

    display: block;
    max-width: 600px;

    .alternativa {

      text-align: left;
      width: 100%;
      border-radius: 15px;
      background-color: white;
      display: block;

      p {

        font-weight: bold;
        padding: 12px 10px;
        color: var(--color-secondary);

      }

    }

    .alternativa:active{

      background-color: var(--color-warning);
      transform: translateY(4px);

      p {
        color: white !important;
      }

    }

    .alternativa-certa {

      background-color: var(--color-success);
      transform: translateY(4px);

      p {
        color: white !important;
      }

    }

    .alternativa-errada {

      background-color: var(--color-danger);
      transform: translateY(4px);

      p {
        color: white !important;
      }

    }

  }

}

