.erro-404 {

  text-align: center;

  .img-container{

    margin-bottom: 5%;

    img{

      width: 90vw;
      height: 50vh;;
      max-width: 500px;
      max-height: 500px;
    }

  }

  a{

    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }


}

