.temas {

  .row-sub-header {

    h1{
      margin: 0;
    }

  }

  .row-filtro{

    height: 12vh;
    width: 90vw;
    max-width: 500px;

  }

  .selecionar-tema {

    justify-content: center;
    perspective: 800px;
    height: 43vh;
    width: 90vw;
    max-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    .erro {

      text-align: center;
      margin: auto;
      font-size: 25px;
      font-weight: bold;
      color: white;

    }

    .card {

      margin-top: auto;
      margin-bottom: auto;
      border-radius: 10px;
      height: 38vh;
      width: 38vw;
      max-width: 200px;
      max-height: 250px;
      text-align: center;
      background-color: white;
      display: inline-block;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      @import "temas-skeleton";

      &.card-selected {

        transform: translateZ(150px);
        margin-left: -60px;
        margin-right: -60px;

      }

      img {

        height: 80%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

      }

      p {

        margin-top: 2.5%;
        display: block;
        height: 15%;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2.5px;

      }

    }

  }

  .arrows-container {

    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    height: 6vh;

    svg {

      padding: 8px;
      font-size: 25px;
      border: 1px solid white;
      background-color: white;
      color: var(--color-principal);
      cursor: pointer;

    }

    svg:first-child {

      margin-right: 7.5px;

    }

    svg:last-child {

      margin-left: 7.5px;

    }

    i:active {

      box-shadow: 0 5px #666;
      transform: translateY(4px);

    }

  }

  .row-button{

    height: 8vh;

  }

}
