.input-container{

  input {

    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 250px;
    font-size: 15px;
    outline: none;
    font-weight: 700;

    &.input-valido{
      border-bottom-color: var(--color-success);
    }

    &.input-invalido{
      border-bottom-color: var(--color-danger);
      margin-bottom: 0;
    }

  }

  span{

    color: var(--color-danger);
    font-size: 17px;

  }

  ::placeholder {

    color: white;

  }

}
