.input-container{

  input {

    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 250px;
    font-size: 15px;
    outline: none;
    font-weight: 700;

  }


  ::placeholder {

    color: white;

  }

}
