.temas{

  .row{

    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;

  }

  .row-header{

    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    font-weight: bold;
    font-size: 20px;
    color: white;

    p{
      width: 50%;
    }

    svg{
      margin-right: 10px;
    }

    p:first-child{
      text-align: left;
    }

    p:last-child{
      text-align: right;
    }

  }

  .row-sub-header{

    margin-bottom: 0;

  }

  .selecionar-tema{

    justify-content: center;
    perspective: 800px;
    height: 35vh;

    .sem-temas{

      margin: auto;
      font-size: 25px;
      font-weight: bold;
      color: white;
    }

    .card{

      height: 40vh;
      width: 40vw;
      max-width: 250px;
      max-height: 300px;
      text-align: center;
      border-radius: 30px;
      background-color: white;
      display: inline-block;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


      &.card-selected{

        transform: translateZ(150px);
        margin-left: -80px;
        margin-right: -80px;

      }

      img{

        height: 85%;
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

      }

      p{

        padding: 3.5%;
        display: block;
        height: 15%;
        font-size: 13px;
        font-weight: bold;
        margin: 0;
        letter-spacing: 2px;

      }

    }

  }

  .arrows-container {

    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;
    height: 5vh;

    svg{

      padding: 8px;
      font-size: 25px;
      border: 1px solid white;
      background-color: white;
      color: var(--color-principal);

    }

    svg:first-child{

      margin-right: 7.5px;

    }

    svg:last-child{

      margin-left: 7.5px;

    }

    i:active{

      box-shadow: 0 5px #666;
      transform: translateY(4px);

    }

  }

}
