.button-submit-container{

  text-align: center;

}

button {

  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  background-color: transparent;
  border-color: white;
  color: white;
  text-transform: uppercase;
  outline: none;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  max-width: 300px;
  min-width: 150px;
  cursor: pointer;

}

button:disabled{

  opacity: 0.4;

}

