.selecionar-tema {

  justify-content: center;
  height: 43vh;
  width: 90vw;
  max-height: 300px;
  max-width: 500px;
  margin: auto;


  .erro {

    text-align: center;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    color: white;

  }

  .card {

    margin: auto;
    border-radius: 10px;

    width: 30vw;
    height: 40vh;

    max-width: 150px;
    max-height: 250px;

    text-align: center;
    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    @import "tema-card.skeleton";

    &.swiper-slide-active {

      z-index: 10;
      width: 45vw !important;
      max-width: 300px !important;

      margin-left: -70px;
      margin-right: -70px;

      @media (max-width: 450px)  {

        margin-left: -5vw;
        margin-right: -5vw;

      }


      border: 1px solid;
      background-color: black;
      color: white;

    }

    &.swiper-slide-prev, &.swiper-slide-next{

      width: 27.5vw !important;
      max-width: 150px !important;

    }

    img {

      height: 80%;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

    }

    p {

      margin-top: 2.5%;
      display: block;
      height: 15%;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 2.5px;

    }

  }

}
