.selecionar-tema {

  justify-content: center;
  height: 43vh;
  width: 90vw;
  max-height: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  .erro {

    text-align: center;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    color: white;

  }

  .card {

    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;

    width: 30vw;
    height: 40vh;

    max-width: 200px;
    max-height: 250px;

    text-align: center;
    background-color: white;


    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    @import "tema-card.skeleton";

    &.swiper-slide-active {

      z-index: 10;
      width: 45vw !important;

      margin-left: -5vw;
      margin-right: -5vw;

    }

    &.swiper-slide-prev{

      width: 27.5vw !important;

    }

    &.swiper-slide-next{

      width: 27.5vw !important;


    }

    &.card-selected {

      transform: translateZ(150px);
      margin-left: -30px;
      margin-right: -30px;

    }


    img {

      height: 80%;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

    }

    p {

      margin-top: 2.5%;
      display: block;
      height: 15%;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 2.5px;

    }

  }

}
