
.row-header{

  display: flex;
  width: 100%;
  margin-bottom: 30px;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  font-size: 20px;
  color: white;

  p{
    margin-top: 0;
    width: 50%;
  }

  p:first-child{
    text-align: left;
  }

  p:last-child{
    text-align: right;
  }

  a{

    text-decoration: underline;
    cursor: pointer;

    svg{
      margin-right: 10px;
    }

  }

}
