
.row-header{

  display: flex;
  width: 100%;
  margin-bottom: 30px;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  font-size: 20px;
  color: white;

  p{
    width: 50%;
  }

  p:first-child{
    text-align: left;
  }

  p:last-child{
    text-align: right;
  }

  svg{

    margin-top: 10px;
    margin-right: 5px;

    &.fa-heart{
      color: red;
    }

    &.fa-skull-crossbones{
      color: white;
    }

  }

  .span-link{

    text-decoration: underline;
    cursor: pointer;

    svg{
      margin-right: 10px;
      margin-top: 0;
    }

  }




}
