.ranking {

  @import url('https://fonts.googleapis.com/css?family=Sacramento');

  .titulo-tema{

    height: 5vh;

    h1{
      font-size: 20px;
    }

  }

  .tabela-container{

    margin-top: auto;
    margin-bottom: auto;

    height: 70vh;
    max-height: 450px;
    display: flex;

    .carregando{

      margin-top: auto;
      margin-bottom: auto;
      text-align: center;

      p{

        color: white;
        font-size: 40px;

      }

      svg {

        font-size: 120px;
        color: white;
        -webkit-animation: fa-spin 700ms infinite linear;
        animation: fa-spin 700ms infinite linear;
      }

    }

    .erro-request{

      margin-top: auto;
      margin-bottom: auto;

      button{
        background-color: red;
      }

    }

    table {

      font-family: 'Sacramento', cursive;
      background-color: white;
      border-collapse: collapse;
      text-align: center;
      margin: auto;
      border-radius: 10px;
      max-height: 400px;
      width: 90vw;
      max-width: 650px;

      thead, tbody{
        display: block;
        width: 100%;
      }

      tr{
        width: 100%;
        display: flex;
      }

      tbody{

        overflow-y: scroll;
        height: 40vh;
        max-height: fit-content;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;


      }

      th{

        width: 60%;
        padding: 5px;
        text-align: center;
        color: var(--color-primary);
        font-size: 28px;
        border-bottom: 1px solid var(--color-danger);

      }

      th:first-child{

        width: 10%;
        min-width: 40px;
        border-right: 1px solid var(--color-danger);

      }

      th:last-child{

        width: 30%;
        border-left: 1px solid var(--color-danger);

      }

      tr{

        &.usuario{

          background-color: var(--color-twitter-background);

        }

        td{

          width: 60%;
          padding: 10px 5px;
          font-size: 28px;

        }

        td:first-child{

          width: 10%;
          min-width: 40px;
          border-right: 1px solid var(--color-danger)


        }

        td:last-child{
          width: 30%;
          border-left: 1px solid var(--color-danger);
        }

      }
      
    }

  }


  .button-jogaer-novamente{

    margin-top: 2vh;
    height: 5vh;

  }

}

