:root{

  --color-principal: #7F37D9;
  --color-danger: #dc3545;
  --color-success: #28a745;

}

html, body{

  height: 100%;
  width: 100%;
  background-color: var(--color-principal);
  margin: 0;
  position: relative;

}

#root {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
  margin-bottom: 15px;

}

