.erro-request {

  text-align: left;
  margin: auto 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;

  button{

    margin-top: 50px;
    font-size: 15px;
    padding: 15px;
    width: fit-content;

  }

}
