:root{

  --color-principal: #7F37D9;
  --color-danger: #dc3545;
  --color-success: #28a745;

}

html{

  height: 100%;
  width: 100%;

}
body {

  background-color: var(--color-principal);

  width: 80%;
  height: 90%;
  margin: 5% 10%;


  #root{

    height: 100%;
    width: 100%;
    display: inline-grid;
    align-content: center;

  }


}

